* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: #000;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(53, 53, 53);
}
.home-container {
  background: rgba(0, 0, 0, 0.53);
}
.home-content {
  position: relative;
  height: 85vh;
  max-height: 700px;
}
.home-img img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
}
.navigation-list {
  height: 15%;
  display: flex;
  align-items: center;
}
.nav-list-item {
  margin: 0 20px 0 0;
}
.nav-list-item a {
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  color: white;
  transition: all 0.3s;
}
.nav-list-item:first-child {
  margin: 0 auto 0 30px;
  background: linear-gradient(45deg, #ff6f61, #ffd700, #00cffd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-list-item:first-child a {
  font-size: 1.5rem;
  font-weight: 700;
}
.nav-list-item:first-child i {
  font-size: 1.7rem;
  /* color: lightgreen; */
}
.nav-list-item a:hover {
  color: rgb(192, 189, 189);
}

.home-content-2 {
  position: relative;
  top: 27%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.6rem;
}
.home-content-2 .heading {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-family: monospace;
  margin: 0 15px;
}
.search-div {
  width: 70%;
}
@media (max-width: 550px) {
  .hide-nav {
    display: none;
  }
  .home-content-2 {
    top: 20%;
  }
  .home-content-2 .heading {
    margin: 0 30px;
    line-height: 50px;
  }
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form #searchInput {
  background-color: white;
  font-size: 1.3rem;
  font-weight: 600;
  height: 50px;
  width: 100%;
  max-width: 560px;
  padding: 0 10px 0 20px;
  outline: none;
  border: none;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.form .btn {
  font-size: 1.3rem;
  background-color: white;
  height: 50px;
  cursor: pointer;
  outline: none;
  padding: 10px 20px 10px 20px;
  border: none;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gallery-content {
  max-width: 1150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  padding: 20px;
}
@media (max-width: 900px) {
  .gallery-content {
    grid-template-columns: repeat(2, 1fr);
  }
  .download-text {
    display: none;
  }
}
.content-nav-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5vh 0;
}
.content-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 10px 0 0;
}
.content-nav-link {
  padding: 10px 15px;
  border-radius: 5rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: black;
  transition: all 0.1s;
}
.content-nav-link:hover {
  background: #000;
  color: white;
}
.col1-img,
.col2-img,
.col3-img {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
  width: 100%;
}
.img-container img {
  max-height: 600px;
  height: 70vh;
  border-radius: 0.4rem;
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100%;
}
.img-hover-container {
  position: relative;
}
.img-hover-content {
  cursor: pointer;
  display: flex;
  justify-content: end;
  align-items: end;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.4rem;
  z-index: 100;
  height: 99.2%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: all 0.3s;
}
.img-hover-content .download {
  cursor: pointer;
  background-color: lightcyan;
  padding: 8px 16px;
  border-radius: 5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  margin: 0 15px 15px 0;
  transition: all 0.3s;
}
.download-text {
  margin: 0 5px 0 0;
}
.download:hover {
  background-color: lightblue;
}
.img-hover-content:hover {
  opacity: 1;
}
.preview-container {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}
.preview-container .preview-sub-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  height: 93%;
  width: 70%;
  max-height: 700px;
  max-width: 1000px;
  border-radius: 20px;
}
.preview-download {
  height: 12%;
  display: flex;
  align-items: center;
  padding: 0 25px;
  background: rgb(205, 230, 239);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.preview-download h3 {
  margin: 0 auto 0 0;
}
#download-preview {
  cursor: pointer;
  /* padding: 12px 17px; */
  margin: 0 10px 0 0;
}
.preview-download-btn {
  background: #000;
  color: white;
  border-radius: 10px;
  padding: 10px 15px;
  font-weight: 600;
  transition: all 0.2s;
  outline: none;
  border: none;
}
.preview-download-btn span {
  margin: 0 5px 0 0;
}
.preview-download-btn:hover {
  background-color: rgb(37, 37, 37);
}
#preview-close {
  padding: 12px 17px;
  cursor: pointer;
}
.preview-img {
  position: absolute;
  margin: 1em 0 0 0;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 77%;
  overflow: hidden;
}
.preview-img img {
  border-radius: 0.5rem;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.preview-img video {
  border-radius: 0.5rem;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media (max-width: 800px) {
  .preview-container .preview-sub-container {
    height: 50%;
    width: 80%;
  }
  .preview-download-btn span {
    display: none;
  }
  .preview-img {
    width: 80%;
    height: 70%;
  }
  .img-container img {
    height: 40vh;
    width: 100%;
    border-radius: 0.4rem;
    object-fit: cover;
  }
  .img-container video {
    width: 100%;
    position: relative;
    border-radius: 0.4rem;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (max-width: 550px) {
  .preview-download {
    height: 15%;
  }
  .gallery-content {
    grid-template-columns: repeat(1, 1fr);
  }
}
.load-more-btn {
  background-color: #000;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 20px 0;
  transition: background-color 0.3s;
}

.load-more-btn:hover {
  background-color: rgb(37, 37, 37);
}
